@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"
    <br />
    <br />
    <br />
    <h4 class="display-4">Välkommen till restaurang SQLicious!</h4>
    <h4 class="display-4">Din go-to för goda Maträtter med Dad jokes i Programmeringstema</h4>

    <a href="@Url.Action("Sqlicious", "Home")" class="btn btn-primary">Enter SQLicious</a>
</div>

