.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.nav-items .nav-links {
    font-size: 16px;
    color: black !important;
    text-decoration: none;
}

.splash-image {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.container {
    padding: 0 !important; /* Remove the padding */
    margin: 0 auto; /* Center it horizontally, if needed */
}

.text-light {
    color: black !important; /* Use the color you want */
}