<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SQLicious_ASP.NET_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SQLicious_ASP.NET_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sqlicious.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
 
</head>
<body>
    <br />
    <br />
    <br />
    <header class="sqlicious-header">
        <div class="logo">
            <img src="~/assets/logo.png" alt="SQLicious Logo" />
        </div>
        <h1 class="site-title">
            <span class="sql">SQL</span>
            <span class="icious">ICIOUS</span>
        </h1>
    </header>
    <br />
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SQLicious_ASP.NET_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
