@using SQLicious_ASP.NET_MVC.Models.DTOs
@model TwoFactorAuthDTO

<h2>Aktivera 2FA!</h2>

<div>
    <p>Skanna QR koden nedan med din Autentisierings app.</p>
    <img id="qr-code" class="qr-container" src="@Url.Action("GenerateQrCode", "TwoFactorAuth")" alt="QR Code" />

    <form asp-action="Verify2FA" method="post">
        <div>
            <label for="code">Skriv gärna in koden från din autentisierings app här nedan!</label>
            <input type="text" id="code" name="code" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Verifiera</button>
    </form>
</div>

<style>
    .qr-container {
        width: 200px;
        height: 200px;
    }
</style>

<script>
    let countdown = 30;

    //refresh QR Code
    function refreshQRCode() {
        const qrImage = document.getElementById('qr-code');
        qrImage.src = '@Url.Action("GenerateQRCode", "TwoFactorAuth")' + '?' + new Date().getTime();
        countdownTime = 30; //this is to reset timer back to 30s
    }

    function updateTimer() {
        const timerElement = document.getElementById('timer');
        countdownTime--;
        timerElement.textContent = countdownTime;

        if (countdownTime <= 0) {
            refreshQRCode();
        }
    }
    //set interval to refresh the qr every 30 seconds
    setInterval(updateTimer, 1000); //update the timer every second!
</script>